{{ partial "header.html" . }}
       
<div class="container">
  <center>

  <img src="images/wood/wood4a.png" style="margin-top:20px;">

    <p class="box">
      Days Hardwood is a small locally owned lumber seller easily accessed from exit 22 on I-295 in Freeport, ME. We stock kiln dried domestic hardwoods, live edge slabs, local softwoods, and unique and unusual items. If you are having trouble sourcing something, try us. We can often find hard to find things.
    </p>
  </center>

  <br>
  <br>
  
</div>
     
{{ partial "footer.html" . }}
