{{ partial "header.html" . }}
       
<div class="container">
  <center>

  <img src="images/wood/wood4a.png" style="margin-top:20px;">
    
    
    
    <!-- <p class="box">
      <b>Holiday Hours</b><br><br>
      We will be closed from December 25th to January 1st. Normal business hours will resume on January 4th, 2021.
    </p> -->
    
    <p class="box">
      <b>COVID-19 Update</b> <span class="pull-right">September 4, 2020</span> <br><br>
      We are open for business, but due to Covid-19, we ask that you wear a mask and respect social distancing. <br><br>
      Thanks for your patience and your business, <br>
      Days Hardwood & Maine Lumber LLC <br>
      Mckay <br>
      Jeremiah
    </p>

    <p class="box">
      Days Hardwood is a small locally owned lumber seller easily accessed from exit 22 on I-295 in Freeport, ME. We stock kiln dried domestic hardwoods, live edge slabs, local softwoods, and unique and unusual items. If you are having trouble sourcing something, try us. We can often find hard to find things.
    </p>
  </center>

  <br>
  <br>
  
</div>
     
{{ partial "footer.html" . }}
