{{ partial "header.html" . }}
       
<div class="container">
  <center>

  <img src="images/wood/wood4a.png" style="margin-top:20px;">

    <p class="box">
      <b>COVID-19 Update</b> <br><br>
      Due to the COVID-19 / Coronavirus,
      Days Hardwood will be taking phone orders only for the next 2 weeks.  
      If you have any wood needs please call and we can make arrangements for you to pick up and pay for your wood. <br><br>
      Thanks for your patience and your business, <br>
      Days Hardwood & Maine Lumber LLC <br>
      Mckay <br>
      Jeremiah
    </p>

    <p class="box">
      Days Hardwood is a small locally owned lumber seller easily accessed from exit 22 on I-295 in Freeport, ME. We stock kiln dried domestic hardwoods, live edge slabs, local softwoods, and unique and unusual items. If you are having trouble sourcing something, try us. We can often find hard to find things.
    </p>
  </center>

  <br>
  <br>
  
</div>
     
{{ partial "footer.html" . }}
